* {
  font-family: arial, san-serif;
  color: white;
}

body {
  background-image: linear-gradient(rgb(135, 206, 250, 0.3), rgb(100, 149, 237, 0.7));
  background-attachment: fixed;
}

h1 {
  color: rgb(0, 0, 153);
  font-size: 250%;
  text-align: center;
}

.mainContent {
  position: relative;
  display: block;
  padding: 10px;
  margin: 10px;
}

#contentWrapper {
  background-color: rgb(51, 153, 255);
}

#table {
  float: left;
  border: 2px solid rgb(0, 0, 102);
}

th {
  border: 2px solid rgb(0, 0, 102);
}

td {
  border: 2px solid rgb(0, 0, 153);
}

p {
  text-indent: 25px;
}

#images {
  position: relative;
  float: right;
  width: 30%;  
  padding-top: 25px;
  padding-bottom: 275px;
  padding-left: 25px;
}

img {
  position: absolute;
  border: 2px solid rgb(0, 0, 153);
}

#kitten {
  z-index: 3;
}
  #kitten:hover {
    z-index: 3;
    border: 4px solid rgb(0, 0, 153);
  }

#tanuki {
  left: 50px;
  top: 50px;
  z-index: 2;
}
  #tanuki:hover {
    z-index: 4;
    border: 4px solid rgb(0, 0, 153);
  }

#turtle {
  left: 75px;
  top: 75px;
  z-index: 1;
}
  #turtle:hover {
    z-index: 3;
    border: 4px solid rgb(0, 0, 153);
  }

span {
  visibility: hidden;
  position: absolute;
  top: 260px;
  left: 120px;
  background-color: rgb(0, 0, 153);
  padding: 10px;
}

#kitten:hover + #kitCap {
  visibility: visible;
}

#tanuki:hover + #tanCap {
  visibility: visible;
}

#turtle:hover + #turCap {
  visibility: visible;
}


fieldset {
  background-color: rgb(51, 153, 255);
  width: 98%;
}

legend {
  background-color: rgb(0, 0, 153);
  padding: 10px;
}

textArea {
  width: 80%;
  color: black;
}

input {
  color: black;
}